# Dependencies
node_modules/
.yarn/
.pnp.*

# Testing
test/
coverage/
*.lcov

# Build outputs
dist/
lib/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
.cache/